<html>
  <head><meta charset="utf-8" /><title>Real Time Products</title></head>
  <body>
    <h1>Productos en tiempo real</h1>

    <ul id="productList"></ul>

    <a href="/products">Volver a inicio</a>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realTime.js"></script>
  </body>
</html>